.app {
  
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 4px 14px 4px #375c821c;
  font-family: 'Noto Sans JP', sans-serif;
}

.top {
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #7998c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  width: 100%;
  height: 50%;
  border-top: 2px solid #7998c7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-title {
  font-size: 34px;
  color: #5781C2;
  font-family: 'Advent Pro', sans-serif;
}

.sample-text {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  color: #666;
  text-align: center;
}

.button {
  width: 150px;
  height: 45px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #5781C2;
  color: white;
  box-shadow: 2px 2px 5px #16314d98;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 4px 4px 8px #16314d63;
  background-color: #40558f;
}




.Inactive {
  opacity: 0.01;
  height: 0;
  transition: opacity 1s;
  width: 100%;
  
  
}


.ActiveOneDiv {
  opacity: 1; 
  max-width:100%;
  
  transition: opacity 2s;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
.ActiveTwoDivs {
  opacity: 1; 
  max-width:50%;
  
  transition: opacity 2s;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
.ActiveThreeDivs {
  opacity: 1; 
  max-width:33%;
  
  transition: opacity 2s;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

.Slider{
  display: flex;
  
}

.LeftArrowTd {
  box-sizing: border-box;
  transition-duration: 0.4s;
  border: 2px solid #e7e7e7;
  border-right:0px;
  vertical-align:middle;
}

.RightArrowTd {
  box-sizing: border-box;
  transition-duration: 0.4s;
  border: 2px solid #e7e7e7;
  border-left:0px;
  vertical-align:middle;
}

.ContentTd{
  box-sizing: border-box;
border-top: 2px solid #e7e7e7;
border-bottom: 2px solid #e7e7e7;
width: 100%;
vertical-align:middle;
}

.LeftArrowTd:hover {
  background-color: #e7e7e7;
}
.LeftArrowTd:active{
 background-color: darkgray;
}
.RightArrowTd:hover {
  background-color: #e7e7e7;
}
.RightArrowTd:active{
  background-color: darkgray;
 }


.Table {
  box-sizing: border-box;
  padding:0;
  width: 100%;
  vertical-align:middle;
  }
.TrSlide{
height: 100%;
}
.Image {
  width: 100%;
  
  visibility: hidden;
 
}
table {border-collapse: collapse;}
td    {padding: 0px;}

