.MainSlider {
  width: 100%;
  height: auto;
}
.app {
  width: 100%;
  height:100%;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

.Inactive {
  opacity: 0.01;
  height: 0;
  transition: opacity 1s;
  width: 100%;
  display:none;
}


.ActiveOneDiv {
  opacity: 1;
  width:98%; 
  max-width:100%;
  
  transition: opacity 2s;
  
  
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  border: 2px solid #e7e7e7;
}
.ActiveTwoDivs {
  opacity: 1;
  width: 48%; 
  max-width:49%;

  transition: opacity 2s;
  
  
  background-repeat: no-repeat;
  background-size: cover;
  float: left;

  border: 2px solid #e7e7e7;
}
.ActiveThreeDivs {
  opacity: 1; 
  width:33.33%;
  max-width:33.33%;
  
  transition: opacity 2s;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  float: left;
  box-sizing: border-box;
  border: 2px solid #e7e7e7;
  justify-content: center;
  align-items:center;
  text-align:center;
  
  
}

.ActiveDivParent {
  display:flex;
  justify-content: space-evenly;
  padding-top: 3%;
  padding-bottom: 3%;
  
  height:100%;
}


.Slider{
  display: flex;
  
}

.LeftArrowTd {
  
  transition-duration: 0.4s; 
  border-right:0px;
  vertical-align:middle;
}

.RightArrowTd {
  
  transition-duration: 0.4s; 
  border-left:0px;
  vertical-align:middle;
}

.ContentTd{

width: 100%;
vertical-align:middle;

}

.LeftArrowTd:active{
 background-color: darkgray;
}

.RightArrowTd:active{
  background-color: darkgray;
 }


.Table {
  box-sizing: border-box;
  padding:0px;
  width: 100%;
  vertical-align:middle;
  }

.SliderItems > table {
  border-collapse: collapse;
  height:100%;
}

.TrSlide > td {
  padding: 0px;
  vertical-align: middle;
  
}

.TrSlide{

vertical-align: middle;
}
.DivImageContainer{
  height:100%;
  display:table-cell;
  vertical-align: middle;
  margin:auto;
  
}
.ScrollerImage {
  
  display:block;
  width: 100%;
  height:100%;
  
  
  object-fit: contain;
}

.DivLink{
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  
}
