.app {
  
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 4px 14px 4px #375c821c;
  font-family: 'Noto Sans JP', sans-serif;
}

.Inactive {
  opacity: 0.01;
  height: 0;
  transition: opacity 1s;
  width: 100%;
  
  
}


.ActiveOneDiv {
  opacity: 1; 
  max-width:100%;
  
  transition: opacity 2s;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
.ActiveTwoDivs {
  opacity: 1; 
  max-width:50%;
  
  transition: opacity 2s;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
.ActiveThreeDivs {
  opacity: 1; 
  max-width:33%;
  
  transition: opacity 2s;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

.Slider{
  display: flex;
  
}

.LeftArrowTd {
  box-sizing: border-box;
  transition-duration: 0.4s;
  border: 2px solid #e7e7e7;
  border-right:0px;
  vertical-align:middle;
}

.RightArrowTd {
  box-sizing: border-box;
  transition-duration: 0.4s;
  border: 2px solid #e7e7e7;
  border-left:0px;
  vertical-align:middle;
}

.ContentTd{
  box-sizing: border-box;
border-top: 2px solid #e7e7e7;
border-bottom: 2px solid #e7e7e7;
width: 100%;
vertical-align:middle;
}

.LeftArrowTd:hover {
  background-color: #e7e7e7;
}
.LeftArrowTd:active{
 background-color: darkgray;
}
.RightArrowTd:hover {
  background-color: #e7e7e7;
}
.RightArrowTd:active{
  background-color: darkgray;
 }


.Table {
  box-sizing: border-box;
  padding:0px;
  width: 100%;
  vertical-align:middle;
  }

.SliderItems > table {
  border-collapse: collapse;
}

.TrSlide > td {
  padding: 0px;
}

.TrSlide{
height: 100%;
}
.ScrollerImage {
  width: 100%;
  
  visibility: hidden;
 
}


